.row
  .col-md-12{style: "padding: 0;"}
    .clearfix
      = raw Medium.random_thumbnail
      %p{style: "margin: 0; line-height: 1.3;"}
        The purpose of this site is to compile a comprehensive database of the false reports of "hate crimes"
        committed (mostly) in the USA. It builds on the work of
        = succeed "," do
          %a{href: "/lairdwilcox"} Laird Wilcox
        whose
        %a{href: "/Crying-Wolf-by-Laird-Wilcox.pdf"} Crying Wolf
        (PDF) is the original book on this subject. The books
        %a{href: "https://www.amazon.com/Hate-Crime-Hoax-Left-Selling/dp/1621577783"} Hate Crime Hoax
        and
        %a{href: "https://www.amazon.com/Hate-Crimes-Criminal-Identity-Politics-ebook/dp/B001943QNE/"} Hate Crimes: Criminal Law & Identity Politics
        are recommended.
