%br
%br
%a{href: "http://www.lairdwilcox.com"} Laird Wilcox's site
%br
%br
Laird Wilcox's research into the hate crime industry is unparalleled. His two works on the issue
list dozens of fake hate crimes, and analyze the politics of the groups which benefit from them.
%br
%br
= succeed "," do
  %a{href: "http://www.amazon.com/Crying-Wolf-Crime-Hoaxes-America/dp/0922915180/ref=sr_1_14?ie=UTF8&qid=1353163969&sr=8-14&keywords=laird+wilcox"} Crying Wolf: Hate Crime Hoaxes in America
= succeed "." do
  %a{href: "/Crying-Wolf-by-Laird-Wilcox.pdf"} Crying Wolf
%br
%br
%a{href: "/The-Watchdogs-by-Laird-Wilcox.pdf"} The Watchdogs
(PDF) is Wilcox's critique of the hate industry.
%br
%br
%a{href: "/"} Back
%br
%br
