%p Hello #{@user.email},

%p Thanks for signing up! Please click the link below to confirm your account:

%p
  = link_to 'Confirm my account', @url

%p If you did not sign up, just ignore this email.

%p Thanks,
%p fakehatecrimes.org
